<!DOCTYPE NXClientSettings>
<NXClientSettings application="nxclient" version="2.1">
  <group name="General">
    <option key="Server host" value="{{ nx_vps_host }}" />
    <option key="Server port" value="{{ nx_vps_port }}" />
    <option key="Session window state" value="fullscreen" />
  </group>
</NXClientSettings>
